# Sql

* Last Update: 20170517 20161006

## S.1 학습내용

### S.1.1 목표

* MySql, Sqlite를 사용할 수 있다.
* Sql을 사용할 수 있다.

### S.1.2 목차

* S.2 DB
* S.2.1 RDB 관련 용어
* S.2.2 sql
* S.2.3 jdbc
* S.3 sqlite
* S.3.1 설치
* S.3.2 sqlite cli
* S.3.3 sql
* S.3.4 Python session
* S.3.5 Java session
* S.4 mysql
* S.4.1 설치
* S.4.2 설정
* S.4.3 mysql cli
* S.4.4 sql
* S.4.5 Java session

### S.1.3 문제

* 문제 S-1: 상품목록 데이터베이스를 사용하여 shell로 조회한다.
* 문제 S-2: 프로그램으로 데이터베이스를 생성하고 조회한다.
* 문제 S-3: java로 sqlite 데이터베이스를 생성하고 조회한다.

### S.1.4 연습

## S.2 DB

* 파일은 복합검색, 삽입, 삭제, 관리 등이 불편하다.
* DBMS 데이터베이스관리시스템, 계층형 관계형 등이 있다.
* 관계형데이터베이스 Relational DataBase는 Oracle, Sybase, MySql 등이 있다.
* 객체지향 기반 ORDB Object Relational DataBase, OODB Object Oriented DataBase가 사용되고 있다.
* RDB 관계형데이터베이스는 데이터를 테이블 형식으로 저장한다.
* 데이터베이스의 기본 기능은 CRUD, 생성, 읽기, 갱신, 삭제 기능을 말한다.

### S.2.1 RDB 관련 용어

* 데이터베이스는 테이블로 구성한다.
* 테이블은 표와 비슷하다. 컬럼과 행으로 구성한다.
* 속성은 표의 컬럼에 해당하며 attributes, fields라고 한다.
* 레코드는 표의 행에 해당하며 records, tuples이다.
* 주키 primary key는 레코드를 유일하게 식별하는 속성이다.
* 외래키 foreign key는 다른 테이블과 연결하기 위해 사용한다.
* ERD Entity Relationship Diagram 엔티티-관계도는 엔티티 간의 관계를 그림으로 표현한 것이다.
* DB의 모델은 Schema라고 한다.
* DB모델은 논리, 개념, 물리모델로 구분하여 3계층으로 구성한다. 많이 사용되는 모델이기도 한다.
* 논리모델 Logical Model은 'what'을 정의한다.
* 물리모델 physical model은 'how', 즉 데이터타잎, 데이터길이 등을 정의한다.
* 정규형 Normal Form은 1NF, 2NF, 3NF로 데이터중복을 최소화하는 기법이다.

### S.2.2 Sql

* Structured Query Language (SQL)
* ANSI SQL은 표준으로, MySql, Orale과 같은 제품은 이를 기반으로 자체의 sql을 제공한다.

* DDL, DML

구분 | 설명
-----|-----
DDL | Data Definition Language, 데이터베이스 생성 기능을 수행하는 SQL
DML | Data Manipulation Language, 입력, 수정, 삭제, 조회 기능을 수행하는 SQL

* 주요 기능

기능 | sql
-----|-----
DB 생성 | CREATE DATABASE DATABASE_NAME;
DB 삭제 | DROP DATABASE DATABASE_NAME;
DB 수정 | ALTER DATABASE;
테이블 생성 | CREATE TABLE table_name (col_name col_data_type, ...);
테이블 삭제 | DROP TABLE table_name;
테이블 입력 | INSERT INTO table_name VALUES (col_name, ...);
테이블 조회 | SELECT col_name, ... FROM table_name WHERE conditions;
테이블 수정 | UPDATE table_name SET col_name = value, ... WHERE conditions;
테이블 수정 | ALTER TABLE table_name ADD (or DROP) col_name;
테이블 삭제 | DELETE FROM table_name WHERE conditions;
인덱스 생성 | CREATE INDEX;
인덱스 삭제 | DROP INDEX;

### S.2.2 jdbc

* Java DataBase Connectivity

단계 | 설명
-----|-----
단계 1 | install and classpath
단계 2 | import
단계 3 | driver
단계 4 | db url
단계 5 | sql Statement, ResultSet
단계 6 | close

* 단계 1: jdbc install and classpath
    * jdbc라이브러리를 설치
    * jar를 classpath에 추가

* 단계 2: import
```
import java.sql.*
```

* 단계 3: driver 등록
    * Class.forName() 해당하는 클래스를 register하고, 로딩하는 기능이다.
    * JDBC 내부적으로 DriverManager.registerDriver()를 호출하므로, 직접 호출하지 않아도 된다.
    * JDBC 4.0 (Java 6) 이후, DriverManager가 ServiceLoader를 사용하여 classpath에서 해당하는 driver를 찾는다. 따라서 Class.forName()를 사용하여 직접 로딩하지 않아도, 해당하는 클래스가 로딩된다.

    * (1) Class.forName()
```
try {
   Class.forName("com.mysql.jdbc.Driver");
}
catch(ClassNotFoundException ex) {
   System.out.println("Error: unable to load driver...");
   System.exit(1);
}
```

    * (2) Driver class
```
try {
   Driver myDriver = new com.mysql.jdbc.Driver();
   DriverManager.registerDriver(myDriver);
}
catch(ClassNotFoundException ex) {
   System.out.println("Error: unable to load driver...");
   System.exit(1);
}
```

* 단계 4: connection url
```
Connection conn = DriverManager.getConnection(URL, USER, PASSWORD);
```

* url 형식
```
jdbc:sqlserver://[serverName[\instanceName][:portNumber]][;property=value[;property=value]]
```

구분 | 필수 | 예
-----|-----|-----
jdbc:sqlserver:// | Required | jdbc:sqlite://, jdbc:mysql://
serverName | Optional | ip or localhost or 127.0.0.1
instanceName | Optional | the instance to connect to on serverName
portNumber | Optional | the port to connect to on serverName. The default is 1433

* url 예

RDBMS | JDBC driver name | 예
-------|-------|-------
sqlite | org.sqlite.JDBC | jdbc:sqlite:///mydatabase.db
MySQL | com.mysql.jdbc.Driver | jdbc:mysql://localhost/mydatabase
ORACLE | oracle.jdbc.driver.OracleDriver | jdbc:oracle:thin:@hostname:port:mydatabase

단계 5: Statement and ResultSet
```
Statement stmt = conn.createStatement();
stmt.executeUpdate(sql);
stmt.close();
```

단계 6: close
```
conn.close();
```

## S.3 Sqlite

* 파일 기반의 데이터베이스이다.
* 서버 기능이 없다.
* 모바일과 같이 가벼운 환경에서 사용하기 편리하다.

### S.3.1 설치

* sqlite 사이트 http://www.sqlite.org/

* Ubuntu 설치
```
sudo apt install sqlite
```

* 윈도우 설치
    * sqlite-shell-win32-x86-xxxxxxx.zip 다운로드,
    * zip을 풀고,
    * c:\Program Files\sqlite3\에 복사 (디렉토리 없으면 생성)

* Sqlite jdbc driver 설치
    * 공식적인 jdbc driver가 없다.
    * http://www.xerial.org 에서 다운로드 설치 'sqlite-jdbc.jar'

### S.3.2 sqllite cli

* sqlite shell에서 명령을 실행할 수 있다.
```
$ sqlite3 mydb.db
sqlite> .databases
sqlite> .tables
sqlite> .schema
sqlite> drop table link;
sqlite> .q
```

* sqlite PRAGMA를 사용하여 환경과 관련한 작업을 처리할 수 있다.
```
sqlite> ATTACH DATABASE './searchindex.db' as sdb;
sqlite> PRAGMA database_list;
sqlite> PRAGMA cache_size=10000;
sqlite> PRAGMA cache_size;
```

### S.3.3 Sql

* 권한제어 GRANT, REVOKE 기능은 서버가 있는 경우 사용하므로, 지원하지 않는다.
* 데이터 타잎:

데이터 타잎 | 설명
----------|----------
NULL | Null 값
INTEGER | 1,2,3,4,6,8 바이트의 정수 값
REAL | 8 바이트 소수
TEXT | utf-8, utf-16
BLOB | blob 데이터

## 문제 S-1: 상품목록데이터베이스를 사용하여 shell로 조회한다.

* shell script로 조회
* 테이블명에서 order와 같은 예약어는 제외 (jumun으로 바꿈)

* DDL 스크립트를 src/ 디렉토리에 만든다.
* DDL (Data Definition Language)에서 Database를 생성
    * 아래 insert문을 일부 포함하고 있다.

In [5]:
%%writefile src/ds_sql_hello_ddl.sql
CREATE TABLE product (
  pid INTEGER NOT NULL PRIMARY KEY,
  p_name VARCHAR(50),
  p_price INTEGER );
CREATE TABLE customer (
  cid INTEGER NOT NULL PRIMARY KEY,
  c_name VARCHAR(50) );
CREATE TABLE jumun (
  cid INTEGER NOT NULL REFERENCES customer,
  oid INTEGER NOT NULL REFERENCES orderItem,
  PRIMARY KEY (cid, oid) );
CREATE TABLE orderItem (
  oid INTEGER NOT NULL PRIMARY KEY,
  pid INTEGER NOT NULL REFERENCES product );
INSERT INTO product VALUES (1,'computer',1000);
INSERT INTO customer VALUES (1,'Kim');
INSERT INTO jumun VALUES (1,1);
INSERT INTO orderItem VALUES (1,1);

Writing src/ds_sql_hello_ddl.sql

* DDL을 사용하여 DB를 생성한다.

* 윈도우에서의 명령어
```
cd src
src> sqlite3.exe my.db < myddl.sql
```

In [6]:
!sqlite3 src/ds_sql_hello.db < src/ds_sql_hello_ddl.sql

In [7]:
!ls -lt src/ds_sql_hello*

-rw-r--r-- 1 jsl jsl 6144  4월  7 19:51 src/ds_sql_hello.db
-rw-rw-r-- 1 jsl jsl  584  4월  7 19:51 src/ds_sql_hello_ddl.sql

* shell script로 생성된 테이블을 확인한다.
* shell script로 테이블에 입력된 레코드를 조회한다.

In [8]:
!sqlite3 src/ds_sql_hello.db '.tables'

customer   jumun      orderItem  product

In [9]:
!sqlite3 src/ds_sql_hello.db 'select * from product'

1|computer|1000

### S.3.4 Python session

단계 | 설명 | 예
-----|-----|-----
단계 1 | install and classpath | pip install sqlite
단계 2 | import | 'import sqlite3' for Python2.5+ (import pysqlite for < 2.5) 또는 import dataset
단계 3 | driver | NA
단계 4 | db url | sqlite:///mydatabase.db, mysql://user:password@localhost/mydatabase
단계 5 | sql |
단계 6 | close |

```
import dataset

# connecting to a SQLite database
db = dataset.connect('sqlite:///mydatabase.db')

# connecting to a MySQL database with user and password
db = dataset.connect('mysql://user:password@localhost/mydatabase')
```

In [1]:
from sqlite3 import dbapi2 as sql

sql.sqlite_version

'3.11.0'

## 문제 S-2: 프로그램으로 데이터베이스를 생성하고 조회한다.

* embedded python으로 데이터를 생성한다.
* 데이터베이스를 조회한다.

In [10]:
import os
from sqlite3 import dbapi2 as sql

con=sql.connect(os.path.join('src','ds_sql_hello.db'))
cur=con.cursor()
cur.execute("select * from product")
cur.fetchall()

[(1, u'computer', 1000)]

In [ ]:
con = sql.connect(os.path.join('src', 'ds_sql_hello2.db'))
cur = con.cursor()
cur.execute("CREATE TABLE Program (id INTEGER PRIMARY KEY,name TEXT NOT NULL)")
cur.execute("INSERT INTO Program (id, name) values (1, 'History')")
con.commit()
cur.execute("select * from Program")
print cur.fetchall()
cur.close()

In [18]:
!ls -l src/*.db

-rw-r--r-- 1 jsl jsl 2048 10월  6 11:33 src/ds_sql_hello2.db
-rw-r--r-- 1 jsl jsl 6144 10월  6 11:32 src/ds_sql_hello.db

In [ ]:
#query p.61
q='functional programming'
words=q.split(' ')
tablenumber=0
res=con.execute("select rowid from wordlist where word='%s'" % words[0]).fetchone()

### S.3.5 Java session


단계 | 설명 | 예
-----|-----|-----
단계 1 | install and classpath |
단계 2 | import | 'import java.sql.*'
단계 3 | driver | 'org.sqlite.JDBC'
단계 4 | db url | 'jdbc:sqlite:test.db'
단계 5 | sql |
단계 6 | close |


* db url로 상대경로, 절대경로를 사용할 수 있다.

db url | 설명
-----|-----
"jdbc:sqlite::memory:" | 메모리 데이터베이스
"jdbc:sqlite:test.db" | 상대경로
"jdbc:sqlite:C:/data/myDB.db" | 윈도우 절대경로 C:\data\myDB.db
"jdbc:sqlite:/home/jsl/data/myDB.db" | 리눅스 절대경로 /home/jsl/data/myDB.db

## 문제 S-3: java로 sqlite 데이터베이스를 생성하고 조회한다.

* embedded python으로 데이터를 생성한다.
* 조회한다.

* classpath 추가

In [2]:
/classpath lib/sqlite-jdbc-3.14.2.jar

 /classpath lib/sqlite-jdbc-3.14.2.jar
|  Path 'lib/sqlite-jdbc-3.14.2.jar' added to classpath

* sqlite driver 설정

In [7]:
import java.sql.*;
String sqliteDriver="org.sqlite.JDBC";

Class.forName(sqliteDriver);

 import java.sql.*;

 String sqliteDriver="org.sqlite.JDBC";
|  Modified variable sqliteDriver of type String with initial value "org.sqlite.JDBC"
|    Update overwrote variable sqliteDriver



 Class.forName(sqliteDriver);
|  Expression value is: class org.sqlite.JDBC
|    assigned to temporary variable $11 of type Class<?>

* connection url

In [8]:
String _db = "./src/ds_sql_hello.db";
String _jdbc = "jdbc:sqlite";
String _url = _jdbc + ":" + _db;

 String _db = "./src/ds_sql_hello.db";
|  Modified variable _db of type String with initial value "./src/ds_sql_hello.db"
|    Update overwrote variable _db

 String _jdbc = "jdbc:sqlite";
|  Modified variable _jdbc of type String with initial value "jdbc:sqlite"
|    Update overwrote variable _jdbc

 String _url = _jdbc + ":" + _db;
|  Modified variable _url of type String with initial value "jdbc:sqlite:./src/ds_sql_hello.db"
|    Update overwrote variable _url

In [9]:
Connection c = DriverManager.getConnection(_url);

 Connection c = DriverManager.getConnection(_url);
|  Modified variable c of type Connection with initial value org.sqlite.SQLiteConnection@5427c60c
|    Update overwrote variable c

In [16]:
Statement stmt = c.createStatement();
String sql = "CREATE TABLE COMPANY " +
           "(ID INT PRIMARY KEY     NOT NULL," +
           " NAME           TEXT    NOT NULL, " + 
           " AGE            INT     NOT NULL, " + 
           " ADDRESS        CHAR(50), " + 
           " SALARY         REAL)"; 
stmt.executeUpdate(sql);
stmt.close();
c.close();

 Statement stmt = c.createStatement();
|  Added variable stmt of type Statement with initial value org.sqlite.jdbc4.JDBC4Statement@3d0f8e03

 String sql = "CREATE TABLE COMPANY " +
            "(ID INT PRIMARY KEY     NOT NULL," +
            " NAME           TEXT    NOT NULL, " +
            " AGE            INT     NOT NULL, " +
            " ADDRESS        CHAR(50), " +
            " SALARY         REAL)";
|  Modified variable sql of type String with initial value "CREATE TABLE COMPANY (ID INT PRIMARY KEY     NOT NULL, NAME           TEXT    NOT NULL,  AGE            INT     NOT NULL,  ADDRESS        CHAR(50),  SALARY         REAL)"
|    Update overwrote variable sql

 stmt.executeUpdate(sql);
|  Expression value is: 0
|    assigned to temporary variable $20 of type int

 stmt.close();

 c.close();

* sqlite cli
    * 테이블 목록 .tables

In [1]:
!sqlite3 src/ds_sql_hello.db '.tables'

customer   jumun      orderItem  product

In [2]:
!sqlite3 src/ds_sql_hello.db 'select * from customer'

1|Kim

## S.4 MySql

* 서버를 설치하여 원격으로 사용할 수 있다.
* 오픈 소스이고 PHP, C, Java, Python 등 여러 언어에서 지원하고 있다.
* 대규모의 데이터를 처리할 수 있다.

### S.4.1 설치

#### S.4.1.1 Linux

* purge all if any installed previously
```
$ sudo apt-get remove --purge mysql-server mysql-client mysql-common
```

* mysql server & client install
```
$ sudo apt-get install mysql-server mysql-client
$ sudo mysql_secure_installation 원격로그인, 비번 등 설정
$ sudo mysql_install_db  5.7.6 이전 데이터디렉토리 설정함 (5.7.6이후는 mysqld --initialize)
```

#### S.4.1.2 윈도우

* https://dev.mysql.com/downloads/installer/
* 자신의 컴퓨터에 맞는 버전을 선택하여 설치

* Linux에서 서버 실행 (윈도우에서도 '서비스(로컬)'를 사용하여 서버를 실행한다.)
```
service mysql start|stop
```

* mysql server의 실행되고 있는지 확인하려면:
    * ubuntu
```
$ service mysql status
또는
$ ps -ef | grep mysql
```

    * Windows Task Manager - Ctrl + Alt + Delete        
    * Mac Activity Monitor - command + option + esc 

```
$ sudo /etc/init.d/mysql restart
$ vim /etc/mysql/my.cnf
$ sudo mysqladmin status -p
```

    * 클라이언트 (사용자 계정은 root)
```
mysql -u root -p (client)
```

### S.4.2 설정

* 설정파일은 ~/.my.cnf로 한다.
* 다른 파일을 사용하면 defaults-extra-file에 파일명을 써준다.

위치 | 적용
-----|-----
/etc/my.cnf | Global
/etc/mysql/my.cnf | Global
$MYSQL_HOME/my.cnf | Server
defaults-extra-file | --defaults-extra-file=path
~/.my.cnf | User

* 설정파일에 권한과 비밀번호를 적어준다.
    ```
    [client]
    user=
    password=
    ```

* ''~/.my.cnf'는 생략할 수 있다.

In [1]:
!mysql --defaults-extra-file=/home/jsl/.my.cnf -e "show databases;"

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test               |
+--------------------+

In [2]:
!mysql -e "show databases;"

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test               |
+--------------------+

### S.4.3 MySql cli

* mysql cli에 접속하려면 host, user, password를 넘겨준다.

```
mysql [-h hostname] [-u user_name] [-p your_pass]
```

* sample

```
$ mysql -u root -p
mysql> use test;
mysql> show tables;
또는 test를 만들 경우
mysql> CREATE DATABASE test;
```

* sql 명령문을 작성한다.
* 또는 source 명령어를 사용한다.
    * 현재 디렉토리에서 명령문을 읽어온다.

```
$ cd ~/Code/git/sd/src
mysql> source j_11_db_test.sql
```

* mysqldump --database test --compact -u root -p > test.sql

In [3]:
%%writefile src/j_11_db_test.sql
show databases;

Overwriting src/j_11_db_test.sql

In [4]:
!mysql < src/j_11_db_test.sql

Database
information_schema
mysql
performance_schema
sys
test

* 여러 명령어를 작성하여, 실행한다.

In [9]:
%%writefile src/j_11_db_jsl.sql
CREATE SCHEMA ch01;
CREATE TABLE ch01.lu_franchises (
    franchise_code char(1) PRIMARY KEY,
    franchise_name varchar(100)
);
INSERT INTO ch01.lu_franchises(franchise_code, franchise_name)
VALUES
    ('b', 'Burger King'),
    ('c', 'Carl''s Jr'),
    ('h', 'Hardee''s'),
    ('i', 'In-N-Out'),
    ('j', 'Jack in the Box'),
    ('k', 'Kentucky Fried Chicken'),
    ('m', 'McDonald''s'),
    ('p', 'Pizza Hut'),
    ('t', 'Taco Bell'),
    ('w', 'Wendy''s');
CREATE TABLE ch01.fastfoods (
    franchise char(1) NOT NULL,
    lat double precision,
    lon double precision
);

Overwriting src/j_11_db_jsl.sql

* 실행하고 나면, ch01이라는 database가 생성된다.
* 연습으로 데이터베이스를 삭제한다.

In [10]:
!mysql < src/j_11_db_jsl.sql

In [11]:
!mysql -e "show databases;use ch01;show tables;desc fastfoods;"

+--------------------+
| Database           |
+--------------------+
| information_schema |
| ch01               |
| mysql              |
| performance_schema |
| sys                |
| test               |
+--------------------+
+----------------+
| Tables_in_ch01 |
+----------------+
| fastfoods      |
| lu_franchises  |
+----------------+
+-----------+---------+------+-----+---------+-------+
| Field     | Type    | Null | Key | Default | Extra |
+-----------+---------+------+-----+---------+-------+
| franchise | char(1) | NO   |     | NULL    |       |
| lat       | double  | YES  |     | NULL    |       |
| lon       | double  | YES  |     | NULL    |       |
+-----------+---------+------+-----+---------+-------+

In [12]:
!mysql -e "drop database ch01;show databases;"

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| test               |
+--------------------+

### S.4.4 sql


* 변수명: 영문을 사용하는 것이 좋다. 숫자로 시작하지 못한다. (가급적) 특수문자를 사용하지 않도록 한다ㅏ. 
* 주석 #, /*...*/
* 타잎
    * INT, FLOAT, DOUBLE, DATE, TIMESTAMP, CHAR, VARCHAR (가변문자열), BLOB (텍스트), ENUM

* 함수

함수의 사용 | 설명
-------|-------
select 'Sangmyung' LIKE '%my%'; | 'my'과 같은 패턴을 조회
select left(str_student_name,5) from students; | 왼쪽에서 5문자
select length(str_student_name) from students; |  길이
select concat(str_student_lname, str_student_fname) from students; | 문자열 합성
select CURTIME(); | 현재 시간
select DATABSE(); | 현재 사용 DB

* 권한 제어 priviledges
    * 데이터베이스 'mysql'의 테이블 'user', 'db', 'host', 'table_priv', 'columns_priv'을 사용해서 권한 제어  
    * 테이블 user는 global이므로 server나 admin만 등록
    * 다른 사용자는 user에 등록하지 않고 db, host를 사용해 데이터베이스 별로 권한 부여

```
INSERT INTO user(Host,User,Pasword) VALUES ('localhost','jslim',PASSWORD('xxxx'));
INSERT INTO db(Host,Db,User,Alter_priv) VALUES ('localhost','myDB','jslm','Y');
flush privileges;
```

* 사용자가 접근을 요청하면:
    * 'user' 테이블을 보고 권한이 있는지 결정 global privileges
    * 'db', 'host' 테이블 권한 조회
    * 'table_priv' 권한 조회
    * 'columns_priv' 권한 조회

* GRANT 명령어를 사용해서 권한 제어
```
GRANT permission ON database.table TO 'user'@'localhost';
```

명령어 예 | 설명
-----|-----
mysql> GRANT ALL PRIVILEGES ON myDB.* TO 'jslim'@'localhost'; | 'myDB'의 모든 테이블에 모든 권한 허가
mysql> GRANT select, insert, update, delete, drop on myDB.* TO 'jslim'@'localhost'; | sql 기능별 권한
mysql> GRANT ALL PRIVILEGES ON *.* TO 'jslim'@'%'; | super user 권한, '%'는 any host
mysql> flush privileges; | 권한 변경을 하고 반영하기 위해 실행

In [2]:
!mysql -e "use mysql;select Host,User from user;"

+-----------+------------------+
| Host      | User             |
+-----------+------------------+
| 127.0.0.1 | root             |
| ::1       | root             |
| jsl-smu   | root             |
| localhost | debian-sys-maint |
| localhost | mysql.sys        |
| localhost | root             |
+-----------+------------------+

In [8]:
%%writefile src/hello_sql_user.sql
USE mysql;
CREATE USER 'jsl'@'localhost' IDENTIFIED BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'jsl'@'localhost';
FLUS PRIVILEGES;

Overwriting src/hello_sql_user.sql

In [6]:
!mysql < src/hello_sql_user.sql

In [7]:
!mysql -e "use mysql;select Host,User from user;"

+-----------+------------------+
| Host      | User             |
+-----------+------------------+
| 127.0.0.1 | root             |
| ::1       | root             |
| jsl-smu   | root             |
| localhost | debian-sys-maint |
| localhost | jsl              |
| localhost | mysql.sys        |
| localhost | root             |
+-----------+------------------+

* 권한 변경이 되었는지 확인한다.

In [9]:
!mysql -e "SHOW GRANTS FOR 'jsl'@'localhost';"

+--------------------------------------------------+
| Grants for jsl@localhost                         |
+--------------------------------------------------+
| GRANT ALL PRIVILEGES ON *.* TO 'jsl'@'localhost' |
+--------------------------------------------------+

* password 변경

```
$ mysqladmin -u root password new_password
```

```
$ mysql -u root mysql
mysql> UPDATE user SET Password=PASSWORD('new_password') WHERE user='root';
mysql> FLUSH PRIVILEGES;
또는
mysql> SET PASSWORD FOR root=PASSWORD('new_password');
```

* server status

In [4]:
!mysqladmin status

Uptime: 19929  Threads: 2  Questions: 58  Slow queries: 0  Opens: 141  Flush tables: 1  Open tables: 54  Queries per second avg: 0.002

In [5]:
!mysqladmin processlist

+----+------+-----------+-------+---------+------+----------+------------------+
| Id | User | Host      | db    | Command | Time | State    | Info             |
+----+------+-----------+-------+---------+------+----------+------------------+
| 7  | root | localhost | mysql | Sleep   | 113  |          |                  |
| 9  | root | localhost |       | Query   | 0    | starting | show processlist |
+----+------+-----------+-------+---------+------+----------+------------------+

In [13]:
!mysqlshow test

Database: test
+---------+
| Tables  |
+---------+
| COMPANY |
+---------+

### S.4.5 Java session

단계 | 설명 | 예
-----|-----|-----
단계 1 | install and classpath |
단계 2 | import | import java.sql.*
단계 3 | driver | 'com.mysql.jdbc.Driver'
단계 4 | db url | 'jdbc:mysql://localhost:3306/dbname'
단계 5 | sql |
단계 6 | close |

* Properties를 사용해서 '사용자계정'과 '비밀번호'를 프로그램에 드러나지 않게 한다.
    * key=value 형식으로 적는다.

In [ ]:
%%writefile src/mysql.properties
USER=root
PASSWORD=1234567
URL=jdbc:mysql://localhost/test

In [1]:
String path = System.getProperty("user.dir");
path += "/src/mysql.properties";

 String path = System.getProperty("user.dir");
|  Added variable path of type String with initial value "/home/jsl/Code/git/bb/sd"

 path += "/src/mysql.properties";
|  Expression value is: "/home/jsl/Code/git/bb/sd/src/mysql.properties"
|    assigned to temporary variable $2 of type String

In [3]:
Properties prop = new Properties();
FileInputStream fin = new FileInputStream(path);
prop.load(fin);
System.out.println(prop.getProperty("USER"));
System.out.println(prop.getProperty("URL"));

 Properties prop = new Properties();
|  Modified variable prop of type Properties with initial value {}
|    Update overwrote variable prop

 FileInputStream fin = new FileInputStream(path);
|  Added variable fin of type FileInputStream with initial value java.io.FileInputStream@31a5c39e

 prop.load(fin);

 System.out.println(prop.getProperty("USER"));
root

 System.out.println(prop.getProperty("URL"));
jdbc:mysql://localhost/test

* DB URL
    * Properties를 사용하지 않고, 프로그램 내에 URL 또는 getConnection()에 추가할 수 있다.
```
Connection conn=DriverManager.getConnection("jdbc:mysql://localhost/test","root","1234567");
```

DB URL | 설명
-----|-----
"jdbc:mysql://:3306/test" | test 데이터베이스
"jdbc:mysql://:3306/test?user=root&password=1234567" | key-value형식으로 property를 설정할 수 있다.

* jdbc설치, classpath 추가
```
$ sudo apt-get install libmysql-java
```

* mysql.jar에 soft link가 잡혀져 있슴.
```
$ export CLASSPATH=$CLASSPATH:/usr/share/java/mysql.jar
```

In [4]:
/classpath /usr/share/java/mysql.jar

 /classpath /usr/share/java/mysql.jar
|  Path '/usr/share/java/mysql.jar' added to classpath

* mysql driver name
```
com.mysql.jdbc.Driver
```

* Class는 java.lang에 있다. default로 포함된다.

```
from java.lang import Class
import java.sql.DriverManager
```

In [5]:
import java.sql.*;

Class.forName("com.mysql.jdbc.Driver");

 import java.sql.*;
|    Update modified method printf(String,Object...)
|    Update modified variable path of type String with initial value
|    Update modified variable prop of type Properties with initial value
|    Update modified variable fin of type FileInputStream with initial value



 Class.forName("com.mysql.jdbc.Driver");
|  Expression value is: class com.mysql.jdbc.Driver
|    assigned to temporary variable $11 of type Class<?>

* connection url

* test database를 생성한다.
```
$ mysql -u root -p
mysql> create database test;
```

In [7]:
import java.sql.*;

Class.forName("com.mysql.jdbc.Driver");
Connection conn = DriverManager.getConnection(
    prop.getProperty("URL")+"?useSSL=true",
    prop.getProperty("USER"),
    prop.getProperty("PASSWORD")
);

 import java.sql.*;



 Class.forName("com.mysql.jdbc.Driver");
|  Expression value is: class com.mysql.jdbc.Driver
|    assigned to temporary variable $16 of type Class<?>

 Connection conn = DriverManager.getConnection(
     prop.getProperty("URL")+"?useSSL=true",
     prop.getProperty("USER"),
     prop.getProperty("PASSWORD")
 );
|  Modified variable conn of type Connection with initial value com.mysql.jdbc.JDBC4Connection@105fece7
|    Update overwrote variable conn

In [8]:
Statement stmt = conn.createStatement();
String sql = "CREATE TABLE COMPANY " +
           "(ID INT PRIMARY KEY     NOT NULL," +
           " NAME           TEXT    NOT NULL, " + 
           " AGE            INT     NOT NULL, " + 
           " ADDRESS        CHAR(50), " + 
           " SALARY         REAL)"; 
stmt.executeUpdate(sql);
stmt.close();
conn.close();

 Statement stmt = conn.createStatement();
|  Added variable stmt of type Statement with initial value com.mysql.jdbc.StatementImpl@482cd91f

 String sql = "CREATE TABLE COMPANY " +
            "(ID INT PRIMARY KEY     NOT NULL," +
            " NAME           TEXT    NOT NULL, " +
            " AGE            INT     NOT NULL, " +
            " ADDRESS        CHAR(50), " +
            " SALARY         REAL)";
|  Added variable sql of type String with initial value "CREATE TABLE COMPANY (ID INT PRIMARY KEY     NOT NULL, NAME           TEXT    NOT NULL,  AGE            INT     NOT NULL,  ADDRESS        CHAR(50),  SALARY         REAL)"

 stmt.executeUpdate(sql);
|  Expression value is: 0
|    assigned to temporary variable $20 of type int

 stmt.close();

 conn.close();